<div class="container login-page">
    <h3>Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
        <div class="form-group with-invalid-msg" [ngClass]="getValidationClass(loginForm, 'username')">
            <label for="username" class="control-label">Name:</label>
            <input id="username" type="email" class="form-control" placeholder="Username"
                   formControlName="username">
            <div class="invalid-msg">The username field is required.</div>
        </div>
        <div class="form-group with-invalid-msg" [ngClass]="getValidationClass(loginForm, 'password')">
            <label for="password" class="control-label">Password:</label>
            <input id="password" type="password" class="form-control" placeholder="password"
                   formControlName="password">
            <div class="invalid-msg">The password field is required.</div>
        </div>
        <div>
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">submit</button>
        </div>
    </form>
</div>

