<div id="alert-container">
    <div *ngFor="let notification of notifications" class="alert alert-dismissible alert-{{notification.type}}">
        <button type="button" class="close" (click)="removeNotification(notification)">&times;</button>
        {{notification.message}}
    </div>
</div>